.toc-content {
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.5em !important;
  padding-top: 0 !important;
}

#TOC {
  border: none;
  border-radius: 0;
  padding-right: 1em;
}

body {
  font-size: 17px;
}

img {
  padding: 1em;
}

ol li {
  padding-top: 1em;
}

div.blockquote,
blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 18.75px;
  border-left: 5px solid #ecf0f1;
}

blockquote {
  color: #607D8B;
  font-style: oblique;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: white;
    background-color: #6b8eb4;
    border-color: black;
    border-width: medium;
}

.navbar {
  background-color: #6b8eb4;
}

#TOC::before {
  content: "";
  display: block; /*change from block to none for landing page */
  height: 110px;
  margin: 10px 10px 30px 10px;
  background-image: url("MaRcus Logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar .navbar-nav>.active>a {
  background-color: #54708E;
}

.list-group-item.active {
  background-color: #6b8eb4;
  border-color: #6b8eb4;
}
item.active, .list-group-item.active:hover {
  background-color: #6b8eb4;
  border-color: #6b8eb4;
}

.navbar .navbar-nav>li > a:hover {
  color: #222;
}

.navbar-default .navbar-brand:hover{
  color: #222;
}